<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Amasty_CloneFrdljModule" translate="label" sortOrder="10">
            <label>What yoy want, baby...</label>
        </tab>
        <section id="clonefrdli_config" translate="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>CloneFrdli config Add Promo SKU</label>
            <tab>Amasty_FrdljModule</tab>
            <resource>Amasty_CloneFrdljModule::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Promo Product</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="promo_sku" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Promo SKU</label>
                    <validate>required-entry</validate>
                    <comment>В Promo SKU - можно ввести только 1 SKU.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="for_sku" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>For SKU</label>
                    <validate>required-entry</validate>
                    <comment>В For SKU – много через запятую.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
