<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!--    <type name="Amasty\FrdljModule\Block\Form">-->
<!--        <plugin name="stock_url_magento" type="Amasty\CloneFrdljModule\Plugin\stockUrlMagento"/>-->
<!--    </type>-->
<!--    <type name="Magento\Checkout\Controller\Cart\Add">-->
<!--        <plugin name="getPruductId" type="Amasty\CloneFrdljModule\Plugin\getPruductId"/>-->
<!--    </type>-->
</config>